<div class = "d-flex justify-content-between">
  <div>
    <h1>
      List of Categories
    </h1>
  </div>
</div>


<hr>

<div>
  <div class = "row justify-content-center table-responsive">
    <table class = "table align-middle table-hover table-striped" border="1">
      <thead class = "table-dark text-center">
        <th>Category Name</th>
        <th>Number of Books in Category</th>
        <th>Average Rating in Category</th>
        <th>Top Rated Book in Category</th>
        <th> </th>
      </thead>
      <tbody class="text-center">
        <% @list_of_categories.each do |a_category| %>
        <tr>
          <td><%= a_category.name %></td>
          <td><%= a_category.classifications_count %></td>
          <td>
            <a href="/authors/<%= an_author.id %>">Show details</a>
          </td>
        </tr>
        <% end %>
      <tbody >
    </table>
  </div>
</div>

<%= paginate @list_of_categories%>
